@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    var myArray = new Array();
    function btn_receive() {
        var ids = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        if (ids == "") {
            $.modalMsg("未选择打样单", "error");
            return false;
        }
        var keyValue = ids.join(",");
        $.ajax({
            url: "/TemplateManage/Template/ReceiveTemplate",
            type: "POST",
            dataType: "json",
            data: { keyValue: keyValue },
            success: function (data) {
                var icon = "";
                if (data.state == "success") {
                    icon = "fa-check-circle";
                    top.layer.msg(data.message, { icon: icon, time: 4000, shift: 5 });
                    top.$(".layui-layer-msg").find('i.' + icon).parents('.layui-layer-msg').addClass('layui-layer-msg-' + data.state);
                } else {
                    top.layer.msg(data.message);
                }
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.loading(false);
                $.modalMsg(errorThrown, "error");
            }
        });
    }
    function btn_reject() {
        var ids = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        if (ids == "") {
            $.modalMsg("未选择打样单", "error");
            return false;
        }
        var keyValue = ids.join(",");
        $.modalOpen({
            id: "Form",
            title: "拒收",
            url: "/TemplateManage/Template/rejectForm?keyValue=" + keyValue,
            width: "600px",
            height: "250px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
     
    }
    $(function () {
        gridList();
        laydate.render({
            elem: '#hopeDD',
            range: '~',
            change: function (value, date, endDate) {
                var dates = value.split('~');
                $("#hopeDDBeginDate").val(dates[0]);
                $("#hopeDDEndDate").val(dates[1]);
            },
            done: function (value, date, endDate) {
                if (value == "") {
                    $("#hopeDDBeginDate").val("");
                    $("#hopeDDEndDate").val("");
                }
            }
        }); 
    });
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/TemplateManage/Template/GetTempAcceptList",
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "TEM_ID", hidden: true, key: true },
                {
                    label: "操作", name: "TEM_ID", width: 105, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        var str = '<a id="template_details" onclick=btn_details("' + cellvalue + '")>查看</a>&nbsp;&nbsp;<a id="template_free" onclick=btn_notice("' + cellvalue + '") >费用</a>';
                        if ((rowObject.DRAWING != null && rowObject.DRAWING != "") || (rowObject.TEM_IMG != null && rowObject.TEM_IMG != "")) {
                            str += '&nbsp;&nbsp;<a id="template_download"  data-toggle="modal" data-target="#myModal" onclick=btn_download("' + cellvalue + '")>下载</a>';
                        }
                        return str;
                    }
                },
                {
                    label: '打样编号', name: 'TEM_NO', width: 80, align: 'left'
                },
                {
                    label: '样板名称', name: 'TEM_NAME', width: 120, align: 'left'
                },
                {
                    label: '客户', name: 'CUSTOMER', width: 60, align: 'left'
                },
                {
                    label: '样板类型', name: 'TEM_TYPE', width: 60, align: 'left'
                },
                {
                    label: '套数', name: 'TEM_NUM', width: 45, align: 'left'
                },
                {
                    label: "材料要求", name: "MAT_REQ", width: 60, align: "left"
                },
                {
                    label: "期望交期", name: "HOPE_DD", width: 70, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '关键尺寸', name: 'SIZE', width: 60, align: 'left'
                },
                {
                    label: "打样部门", name: "TEM_DEP", width: 60, align: 'left'
                },
                {
                    label: '负责人', name: 'TEM_CHARGE', width: 40, align: 'left'
                },
                {
                    label: "审核人", name: "AUDIT_MAN", width: 40, align: "left",
                },
                {
                    label: '备注', name: 'TEM_REMARK', width: 60, align: 'left'
                },
                {
                    label: '不接受原因', name: 'BACK_REA', width: 60, align: 'left'
                }
            ],
            pager: "#gridPager",
            sortname: 'date desc',
            multiselect: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            viewrecords: true,
            loadComplete: function () {
                for (var i = 0; i < myArray.length; i++) {
                    $("#" + myArray[i]).css('color', 'blue');
                    $("#" + myArray[i] + " a").css('color', 'blue');
                }
            }
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: {
                    keyword: $("#txt_keyword").val(),
                    hopeDDBeginTime: $("#hopeDDBeginDate").val(),
                    hopeDDEndTime: $("#hopeDDEndDate").val()
                },
             page:1 }).trigger('reloadGrid');
        });
    }
    function btn_download(keyValue) {
        myArray.push(keyValue);
        $("#" + keyValue).css('color', 'blue');
        $("#" + keyValue + " a").css('color', 'blue');
        $.ajax({
            url: "/TemplateManage/Template/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data != null) {
                    var trs = '';
                    if (data.TEM_IMG != null && data.TEM_IMG != "") {
                        var TEM_IMG = data.TEM_IMG;
                        var address = "http://" + window.location.host + "/Uploads/" + TEM_IMG;
                        trs += "<a onclick=downloadFile('" + TEM_IMG + "') >" + TEM_IMG + "</a><br/>";
                    }
                    if (data.DRAWING != null && data.DRAWING != "") {
                        var DRAWING = data.DRAWING.split("/");
                        for (var i = 0; i < DRAWING.length; i++) {
                            if (DRAWING[i] != "") {
                                address = "http://" + window.location.host + "/Uploads/" + DRAWING[i];
                                trs += "<a onclick=downloadFile('" + DRAWING[i] + "') >" + DRAWING[i] + "</a><br/>";
                            }
                        }
                    }
                    $("#myForm").html("");
                    $("#myForm").append(trs);
                }
            },
            error: function () {

            }
        });
    }
    function btn_print() {
        var ids = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        if (ids == "") {
            $.modalMsg("未选择打样单", "error");
            return false;
        }
        var keyValue = ids.join(",");
        window.open("~/../Print?keyValue=" + keyValue, "_blank", null);
    }
    function btn_details(keyValue) {
        $.modalOpen({
            id: "Details",
            title: "查看",
            url: "/TemplateManage/Template/Details?keyValue=" + keyValue,
            width: "650px",
            height: "650px",
            btn: null,
        });
    }
    function btn_notice(keyValue) {
        $.modalOpen({
            id: "Form",
            title: "费用",
            url: "/TemplateManage/Template/FreeForm?keyValue=" + keyValue,
            width: "660px",
            height: "550px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function downloadFile(keyValue) {
        $.download("/TemplateManage/Template/DownloadTemplate", "keyValue=" + keyValue, 'post');
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="template_receive" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_receive()">接收</a>
        </div>
        <div class="btn-group">
            <a id="template_reject" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_reject()">拒收</a>
        </div>
        <div class="btn-group">
            <a id="template_print" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_print()">打印</a>
        </div>
        @*<div class="btn-group">
            <a id="template_add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()">转外</a>
        </div>*@
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="样板名称/客户/负责人/打样编号/打样类型/样板分配" style="width: 270px;font-size:12px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="daterange-hopeDD">期望交期:</label>
                            <div class="input-group">
                                <input id="hopeDDBeginDate" type="hidden" />
                                <input id="hopeDDEndDate" type="hidden" />
                                <input type="text" id="hopeDD" placeholder="请选择日期" class="form-control" style="width:200px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">下载</h4>
            </div>
            <div class="modal-body">
                <form name="form" id="myForm" enctype="multipart/form-data" method="post">
                    <a></a>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
