
@{
    ViewBag.Title = "CheckPurchaseForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");

    $(function () {
        $("#F_Id").val(keyValue);
    });

    function submitForm() {
        var keyValue = $("#F_Id").val();
        var purExaTag = $("input[name='purExaTag']:checked").val();
        if (purExaTag == "F") {
            if ($("#purExaIdea").val() == "") {
                $.modelMsg("审核意见不能为空", "error");
                return false;
            }
        }
        $.submitForm({
            url: "/PurchaseManage/Purchase/SubmitCheckPurchaseForm?keyValue=" + keyValue,
            param: { "purExaIdea": $("#purExaIdea").val(), "purExaTag": purExaTag },
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form name="myForm" id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    审核意见
                </th>
                <td class="formValue" colspan="3">
                    <input type="hidden" id="F_Id" name="F_Id" />
                    <textarea class="form-control" id="purExaIdea" name="purExaIdea"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">是否通过</th>
                <td class="formValue" colspan="3">
                    <div class="radio-inline">
                        <label for=""><input id="" name="purExaTag" type="radio" value="T" checked="checked">通过</label>
                    </div>
                    <div class="radio-inline">
                        <label for=""><input id="" name="purExaTag" type="radio" value="F">不通过</label>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</form>


