
@{
    ViewBag.Title = "PurchaseDeatailsIndex";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var userName;
    $(function () {
        userName = GetName();
        laydate.render({
            elem: '#purDD',
            range: '~',
            change: function (value, date, endDate) {
                var dates = value.split('~');
                $("#BeginDate").val(dates[0]);
                $("#EndDate").val(dates[1]);
            },
            done: function (value, date, endDate) {
                if (value == "") {
                    $("#BeginDate").val("");
                    $("#EndDate").val("");
                }
            }
        });
        gridList();
    })
    function GetName() {
        var CurrentUser = top.$.cookie('CurrentUser');
        if (!!CurrentUser) {
            var user = eval("(" + CurrentUser + ")");
            return user.UserName;
        }
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PurchaseManage/Purchase/GetPurchaseDetailsList",
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "ID", hidden: true, key: true },
                {
                    label: "操作", name: "ID", width: 70, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        var strs = '<a id="purchase_detail" onclick=btn_details("' + cellvalue + '")>查看</a>';
                        if (rowObject.purMan == userName && rowObject.inNum > 0 && (rowObject.takeNum == rowObject.yiJiaoNum) && rowObject.isPreMoney != "Y" && rowObject.caseTag!="T") {
                            strs+= '&nbsp;&nbsp;<a id="purchase_convert" onclick=btn_convert("' + cellvalue + '")>转厂</a>';
                        }
                        return strs;
                    }
                },
                {
                    label: '采购日期', name: 'purDD', width: 70, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "回货日期", name: "retDate", width: 70, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '采购方式', name: 'purWay', width: 50, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 1) {
                            return "网购";
                        } else if (cellvalue == 3) {
                            return "国际采购";
                        }
                        else { return "国内采购"; }
                    }
                },
                {
                    label: '采购单号', name: 'purNo', width: 80, align: 'left'
                },
                {
                    label: '供应商', name: 'purSup', width: 60, align: 'left'
                },
                {
                    label: '采购名称', name: 'purName', width: 120, align: 'left'
                },
                {
                    label: "采购牌号", name: "purOrderNo", width: 50, align: "left"
                },
                {
                    label: "采购规格", name: "purSpc", width: 50, align: "left"
                },
                {
                    label: "申购数量", name: "appNum", width: 50, align: "left"
                },
                {
                    label: "申购单位", name: "appUnit", width: 50, align: "left"
                },
                {
                    label: '副数量', name: 'viceNum', width: 45, align: 'left'
                },
                {
                    label: "副单位", name: "viceUnit", width: 45, align: 'left'
                },
                {
                    label: '单价', name: 'price', width: 35, align: 'left'
                },
                {
                    label: "报价单位", name: "purUnit", width: 50, align: "left"
                },
                {
                    label: '已交数量', name: 'yiJiaoNum', width: 50, align: 'left'
                },
                {
                    label: "税率", name: "principal", width: 35, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        var num = (cellvalue * 100);
                        return num.toFixed(0) + "%";
                    }
                },
                {
                    label: "报价单号", name: "priNo", width: 80, align: "left",
                },
                {
                    label: "采购员", name: "purMan", width: 80, align: "left",
                },
                {
                    label: "打印日期", name: "prtDate", width: 65, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "申购日期", name: "date", width: 65, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '申购名称', name: 'prdName', width: 120, align: 'left'
                },
                {
                    label: "申购牌号", name: "orderNo", width: 100, align: "left"
                },
                {
                    label: '申购规格', name: 'spc', width: 60, align: 'left'
                },
                {
                    label: "材料要求", name: "mat", width: 60, align: "left"
                },
                {
                    label: "期望交期", name: "hopeDD", width: 65, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "申购部门", name: "appDep", width: 60, align: "left",
                },
                {
                    label: "申购人", name: "appMan", width: 45, align: "left",
                },
                {
                    label: "结案", name: "caseTag", width: 45, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "T") {
                            return "已结案";
                        } else { return "未结案"; }
                    }
                },
                {
                    label: "预付", name: "isPreMoney", width: 45, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "Y") {
                            return "已预付";
                        } else { return "未预付"; }
                    }
                },
                {
                    label: "金额", name: "money", width: 45, align: "left",
                },
                {
                    label: "报价审核", name: "chkTag", width: 55, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "Y") {
                            return "已审核";
                        } else { return "未审核"; }
                    }
                }
            ],
            pager: "#gridPager",
            sortname: 'date desc',
            rowNum: 20,
            rowList: [10, 20, 30],
            viewrecords: true,
            multiselect: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: {
                    keyword: $("#txt_keyword").val(),
                    BeginDate: $("#BeginDate").val(),
                    EndDate: $("#EndDate").val(),
                    isPreMoney: $("#sel_isPreMoney").val(),
                    purIsTem: $("#sel_purIsTem").val(),
                    caseTag:$("#sel_caseTag").val()
                },
             page:1 }).trigger('reloadGrid');
        });
    }
    function btn_details(keyValue) {
        $.modalOpen({
            id: "Details",
            title: "查看",
            url: "/PurchaseManage/Apply/Details?keyValue=" + keyValue,
            width: "780px",
            height: "550px",
            btn: null,
        });
    }
    function btn_convert(keyValue) {
        $.modalOpen({
            id: "Details",
            title: "转厂",
            url: "/PurchaseManage/Apply/ApplyConvertPurchaseForm?code=1001&&keyValue=" + keyValue,
            width: "800px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_back() {
        var keyValue = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        keyValue = keyValue.join(",");
        $.submitForm({
            url: "/PurchaseManage/Purchase/BackCheck",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
    function btn_case() {
        var keyValue = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        keyValue = keyValue.join(",");
        $.submitForm({
            url: "/PurchaseManage/Purchase/CasePurchase",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
    function btn_export() {
        var keyValue = ".xls";
        $.ajax({
            url: '/PurchaseManage/Purchase/ExportPurchaseDetailExcel',
            type: "GET",
            data: {
                keyword: $("#txt_keyword").val(),
                BeginDate: $("#BeginDate").val(),
                EndDate: $("#EndDate").val(),
                isPreMoney: $("#sel_isPreMoney").val(),
                purIsTem: $("#sel_purIsTem").val(),
                caseTag: $("#sel_caseTag").val()},
            contentType: 'application/octet-stream',
            success: function (resp) {
                var filename = resp.substr(resp.lastIndexOf('\\') + 1);
                var doc = resp.match(/([^\\]+)(\.[^\(]+)/i);
                var h5Down = !/Trident|MSIE/.test(navigator.userAgent); //浏览器是否支持download
                if (h5Down) {
                    openDownloadDialog("http://" + window.location.host + "/Excel/" + filename, filename);
                } else {
                    window.open("http://" + window.location.host + "/Excel/" + filename);
                }
            },
            error: function () {
                $.modalAlert("导出失败！");
            }
        })
    }
    function btn_premoney(keyValue) {
        var keyValue = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        keyValue = keyValue.join(",");
        $.submitForm({
            url: "/PurchaseManage/Purchase/PreMoneyPrice",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
    function openDownloadDialog(url, saveName) {
        if (typeof url == 'object' && url instanceof Blob) {
            url = URL.createObjectURL(url); // 创建blob地址
        }
        var aLink = document.createElement('a');
        aLink.href = url;
        aLink.download = saveName || '';
        var event;
        event = document.createEvent('MouseEvents');
        event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        aLink.dispatchEvent(event);
    }
</script>

<div class="topPanel">
    <div class="toolbar" style="padding-right:0px;">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="purchaseDetail_export" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_export()">导出</a>
        </div>
        <div class="btn-group">
            <a id="price_premoney" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_premoney()">预付</a>
        </div>
        <div class="btn-group">
            <a id="purchase_back" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_back()">反审</a>
        </div>
        <div class="btn-group">
            <a id="purchase_case" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_case()">结案</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="供应商/名称/采购员/采购单号/报价单号" style="width:140px;font-size:12px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="daterange-hopeDD">采购日期:</label>
                            <div class="input-group">
                                <input id="BeginDate" type="hidden" />
                                <input id="EndDate" type="hidden" />
                                <input type="text" id="purDD" placeholder="请选择日期" class="form-control" style="width:140px;font-size:12px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="sel_isPreMoney">预付:</label>
                                <select id="sel_isPreMoney" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="Y">已预付</option>
                                    <option value="N">未预付</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="sel_purIsTem">样板:</label>
                                <select id="sel_purIsTem" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="T">是</option>
                                    <option value="F">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="sel_caseTag">结案:</label>
                                <select id="sel_caseTag" class="form-control">
                                    <option value="">请选择</option>
                                    <option value="T">是</option>
                                    <option value="F">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <span>
                                <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

