<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="XZOADbContext" connectionString="Server=10.110.120.6;Initial Catalog=XZOA;User ID=sa;Password=ADMINistrator.123" providerName="System.Data.SqlClient" />-->
  <add name="XZOADbContext" connectionString="Server=.;Initial Catalog=ZFine;User ID=sa;Password=xy123456" providerName="System.Data.SqlClient" />
  <!--<add name="TOOLDbContext" connectionString="Server=.;Initial Catalog=DB_TOOL;User ID=sa;Password=xy123456" providerName="System.Data.SqlClient" />

  <add name="G_WSDbContext" connectionString="Server=.;Initial Catalog=DB_G_WS;User ID=sa;Password=xy123456" providerName="System.Data.SqlClient" />-->
  <add name="TOOLDbContext" connectionString="Server=10.110.120.1;Initial Catalog=DB_TOOL;User ID=sa;Password=2626387*.123" providerName="System.Data.SqlClient" />
  <add name="G_WSDbContext" connectionString="Server=10.110.120.1;Initial Catalog=DB_G_WS;User ID=sa;Password=2626387*.123" providerName="System.Data.SqlClient" />
</connectionStrings>