
@{
    ViewBag.Title = "IEForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        laydate.render({
            elem: '#plan_che_date'
        });
    });

    function submitForm() {
        if (!$("#form1").formValid()) {
            return false;
        }
        var form = new FormData(document.getElementById("form1"));
        if ($('[name=__RequestVerificationToken]').length > 0) {
            form.append("__RequestVerificationToken", $('[name=__RequestVerificationToken]').val());
        }
        $.ajax({
            url: '/ProposalManage/ProposalManage/SubmitIEForm?keyValue=' + keyValue,
            type: "post",
            data: form,
            dataType: "json",
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                var icon = "";
                if (data.state == "success") {
                    icon = "fa-check-circle";
                    top.layer.msg(data.message, { icon: icon, time: 4000, shift: 5 });
                    top.$(".layui-layer-msg").find('i.' + icon).parents('.layui-layer-msg').addClass('layui-layer-msg-' + data.state);
                } else {
                    top.layer.msg(data.message);
                }
                $.currentWindow().$("#gridList").trigger("reloadGrid");
                var index = top.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                top.layer.close(index);//关闭弹框

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.loading(false);
                $.modalMsg(errorThrown, "error");
            }
        });
    }
</script>
<form name="myForm" id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">效果验证完成日期</th>
                <td class="formValue">
                    <input id="plan_che_date" name="plan_che_date" type="text" class="form-control required ie" />
                </td>
                <th class="formTitle">奖励</th>
                <td class="formValue">
                    <input id="reward" name="reward" type="text" class="form-control ie" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">附件</th>
                <td class="formValue" colspan="3" id="annexTd">
                    <input type="file" id="annex" name="annex" class="form-control ie"/>
                </td>
            </tr>
        </table>
      </div>
    </form>
