
@{
    ViewBag.Title = "BuyForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var type = $.request("type");
    var keyValue = $.request("keyValue");
    $(function () {
        initSelect();
        initDate();
        type == 1 ? $("#panel1").hide() : $("#panel2").hide();
        if (!!keyValue) {
            $.ajax({
                url: '/ProjectManage/Project/GetFormJson',
                type: 'GET',
                dataType:'JSON',
                success: function () {
                    $("#form1").formSerialize(keyValue);
                }
            });
        }
    });
    function initSelect() {
        $.ajax({
            url: "/TemplateManage/Template/GetRATIFY_MANJson",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var str = '<option value="">==请选择==</option>';
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i].text + "'>" + data[i].text + "</option>";
                }
                $("#F_Workshop").html(str);
            },
            error: function () { }
        });
    }
    function initDate() {
        laydate.render({
            elem: '#F_SampleFinishDate',
            trigger: 'click'
        });
        laydate.render({
            elem: '#F_FactFinishDate',
            trigger: 'click'
        });
    }
    function submitForm() {
        var keyValue = $("#F_Id").val();
        $.submitForm({
            url: "/ProjectManage/Project/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
</script>
<form name="myForm" id="form1">
        <div style="padding-top: 20px; margin-right: 20px;">
            <table class="form">
                <tr id="panel1">
                    <th class="formTitle">采购员</th>
                    <td class="formValue">
                        <input type="hidden" id="F_Id" name="F_Id"/>
                        <input id="F_Buyer" name="F_Buyer" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">供应商</th>
                    <td class="formValue">
                        <input id="F_Supplier" name="F_Supplier" type="text" class="form-control" />
                    </td>
                </tr>
                <tr id="panel2">
                    <th class="formTitle">工程文员</th>
                    <td class="formValue">
                        <input id="F_Clerk" name="F_Clerk" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">车间</th>
                    <td class="formValue">
                        <input id="F_Workshop" name="F_Workshop" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">样板完成时间</th>
                    <td class="formValue">
                        <input id="F_SampleFinishDate" name="F_SampleFinishDate" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">实际完成数量</th>
                    <td class="formValue">
                        <input id="F_FactFinishNum" name="F_FactFinishNum" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">实际完成时间</th>
                    <td class="formValue">
                        <input id="F_FactFinishDate" name="F_FactFinishDate" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">备注</th>
                    <td class="formValue">
                        <input id="F_BuyRemark" name="F_BuyRemark" type="text" class="form-control required" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
