
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    var roleType=0;

    $(function () {
        checkRole();
        gridList();
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/ProjectManage/Project/GetList",
            height: $(window).height() - 128,
            colModel: [
                {   label: "主键", name: "F_Id", hidden: true, key: true },
                {
                    label: "操作", name: "", width: 80, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        var func = "btn_details('" + rowObject.F_Id + "')";
                        var func1 = "btn_update('" + rowObject.F_Id + "'," + rowObject.F_Choose + ")";
                        return "<a  onclick=" + func + ">查看</a>&nbsp;&nbsp;<a  onclick=" + func1 + ">修改</a>";
                    }
                },
                {   label: '项目工程师', name: 'F_ProjectEngineer', width: 65, align: 'left' },
                {   label: '客户', name: 'F_Customer', width: 40, align: 'left' },
                {   label: '型号', name: 'F_Model', width: 60, align: 'left' },
                {   label: '名称规格', name: 'F_Spc', width: 60, align: 'left' },
                {   label: '样板数量', name: 'F_SampleQty', width: 50, align: 'left'},
                {
                    label: "类型", name: "F_TypeID", width: 45, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                       return top.clients.type[cellvalue] == null ? "" : top.clients.type[cellvalue].fullname;
                    }
                },
                {
                    label: '订单号', name: 'F_OrderNo', width: 60, align: 'left'
                },
                {
                    label: '立项单', name: 'F_OrderItem', width: 60, align: 'left'
                },
                {
                    label: "立项时间", name: "F_OrderItemDate", width: 75, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '计划寄样时间', name: 'F_PlanSendSampleDate', width: 75, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "样板回厂时间", name: "F_SampleReturnDate", width: 75, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "备注", name: "F_Remark", width: 70, align: "left",
                },
                {
                    label: "自制/外协", name: "F_Choose", width: 55, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                       return cellvalue == null ? "" : top.clients.dataItems["F_Choose"][cellvalue];
                    }
                },
                {
                    label: "采购员", name: "F_Buyer", width: 40, align: "left",
                },
                {
                    label: "供应商", name: "F_Supplier", width: 40, align: "left",
                },
                {
                    label: "工程文员", name: "F_Clerk", width: 50, align: "left",
                },
                {
                    label: "车间", name: "F_Workshop", width: 50, align: "left",
                },
                {
                    label: "样板完成时间", name: "F_SampleFinishDate", width: 75, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "实际完成数量", name: "F_FactFinishNum", width: 75, align: "left",
                },
                {
                    label: "实际完成时间", name: "F_FactFinishDate", width: 75, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "采购备注", name: "F_BuyRemark", width: 75, align: "left"
                },
                {
                    label: "实际寄样时间", name: "F_FactSendSampleDate", width: 75, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "样板准时", name: "F_SampleOnTime", width: 55, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        return cellvalue == null ? "":top.clients.dataItems["F_SampleOnTime"][cellvalue];
                    }
                },
                {
                    label: "是否审批", name: "F_IsAudit", width: 70, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                         return cellvalue == null ? "":top.clients.dataItems["F_IsAudit"][cellvalue];
                    }
                },
                {
                    label: "样板准确率", name: "F_AccuracyRate", width: 70, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                        return cellvalue == null ? "" : cellvalue.toFixed(2)+"%";
                    }
                },
                {
                    label: "样板批准时间", name: "F_AccuracyDate", width: 70, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "产品发布时间", name: "F_PublishDate", width: 70, align: "left",
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "签板", name: "F_SignSample", width: 50, align: "left",
                    formatter: function (cellvalue, options, rowObject) {
                         return cellvalue == null ? "":top.clients.dataItems["F_SignSample"][cellvalue];
                    }
                },
                {
                    label: "审批备注", name: "F_ProjectRemark", width: 60, align: "left"
                }
            ],
            loadComplete: function () {
                if (roleType==2) {
                    $gridList.hideCol("F_TypeID").hideCol("F_OrderItem").hideCol("F_OrderItemDate").hideCol("F_PlanSendSampleDate").hideCol("F_SampleReturnDate").hideCol("F_Remark").
                    hideCol("F_FactSendSampleDate").hideCol("F_SampleOnTime").hideCol("F_IsAudit").hideCol("F_AccuracyRate").hideCol("F_AccuracyDate")
                    .hideCol("F_Clerk").hideCol("F_Buyer").hideCol("F_PublishDate").hideCol("F_SignSample").hideCol("F_ProjectRemark");
                } else if (roleType==1)
                {
                     $gridList.hideCol("F_TypeID").hideCol("F_OrderItem").hideCol("F_OrderItemDate").hideCol("F_PlanSendSampleDate").hideCol("F_SampleReturnDate").hideCol("F_Remark").
                    hideCol("F_FactSendSampleDate").hideCol("F_SampleOnTime").hideCol("F_IsAudit").hideCol("F_AccuracyRate").hideCol("F_AccuracyDate").
                    hideCol("F_Buyer").hideCol("F_Supplier").hideCol("F_PublishDate").hideCol("F_SignSample").hideCol("F_ProjectRemark");
                }
                else if (roleType == 0) {
                    $gridList.hideCol("F_Buyer").hideCol("F_Supplier").hideCol("F_Clerk").hideCol("F_Buyer").hideCol("F_Workshop")
                        .hideCol("F_SampleFinishDate").hideCol("F_FactFinishNum").hideCol("F_FactFinishDate").hideCol("F_BuyRemark");
                }
            },
            multiselect: true,
            pager: "#gridPager",
            sortname: 'date desc',
            rowNum: 20,
            rowList: [10, 20, 30],
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: {
                    keyword: $("#txt_keyword").val()
                },
                page: 1 }).trigger('reloadGrid');
        });
    }

    function checkRole() {
        $.ajax({
            url:'/ProjectManage/Project/CheckRole',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                roleType = data;
            }
        });
    }

    function btn_finish(keyValue, type) {
        $.modalOpen({
            id: "Form",
            title: "完成样板",
            url: "/ProjectManage/Project/buyForm?keyValue=" + keyValue+ "&&type=" + type,
            width: "660px",
            height: "500px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_details(keyValue) {
        $.modalOpen({
            id: "Details",
            title: "详情",
            url: "/ProjectManage/Project/Details?keyValue=" + keyValue,
            width: "660px",
            height: "500px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新建",
            url: "/ProjectManage/Project/ProjectForm",
            width: "660px",
            height: "950px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_update(keyValue,type) {
         $.modalOpen({
            id: "Form",
            title: "修改",
            url: "/ProjectManage/Project/ProjectForm?keyValue=" + keyValue+ "&&type=" + type,
            width: "660px",
            height: "950px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
          });
    }

    function btn_export() {
        $.ajax({
            url: "/ProjectManage/Project/ExportExcel",
            type: "GET",
            success: function (resp) {
                if (resp.state == "undefined") {
                    $.modalMsg("数据为空","error");
                    return false;
                }
                var filename = resp.substr(resp.lastIndexOf('\\') + 1);
                var doc = resp.match(/([^\\]+)(\.[^\(]+)/i);
                var h5Down = !/Trident|MSIE/.test(navigator.userAgent); //浏览器是否支持

                if (h5Down) {
                    openDownloadDialog("http://" + window.location.host + "/Excel/" + filename, filename);
                } else {
                    window.open("http://" + window.location.host + "/Excel/" + filename);
                }
            },
            error: function () {

                $.modalAlert("导出失败！");
            }
        });
    }

    function btn_delete() {
      var ids = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        if (ids == "") {
            return false;
        }
        var keyValue = ids.join(",");
        $.deleteForm({
            url: "/ProjectManage/Project/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $("#gridList").trigger("reloadGrid");
                $(".topPanel .toolbar .operate").css("left","-100%");
            }
        })
    }

    function openDownloadDialog(url, saveName) {
        if (typeof url == 'object' && url instanceof Blob) {
            url = URL.createObjectURL(url); // 创建blob地址
        }
        var aLink = document.createElement('a');
        aLink.href = url;
        aLink.download = saveName || '';
        var event;
        event = document.createEvent('MouseEvents');
        event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        aLink.dispatchEvent(event);
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="project_add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建</a>
        </div>
        <div class="btn-group">
            <a id="project_delete" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_delete()">删除</a>
        </div>
        <div class="btn-group">
            <a id="project_export" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_export()">导出</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

