
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    html {
    color: -internal-root-color;
    }
    fieldset {
        display: block;
        margin-inline-start: 6px;
        margin-inline-end: 6px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        padding-top: 0;
        padding-bottom: 0;
        border-image: initial;
    }

    legend {
        display: block;
        width: unset;
        padding-inline-start: 2px;
        padding-inline-end: 2px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        font-size: 13px;
        margin-bottom: 0;
    }
    .form .formValue {
        padding: 1px;
    }
    .form .formValue input.form-control {
        height: 26px;
        line-height: 26px;
        padding: 2px;
    }
</style>
<script>
    var type = $.request("type");
    var keyValue = $.request("keyValue");
    var roleType=0;
    $(function () {
        initDate();
        checkRole();
        initSelect();
        console.log(type);
        type == 1 ? $("#panel1").hide() : $("#panel2").hide();
        type == 1 ? $("#label").text("工程文员") : $("#label").text("采购员");
        if (!!keyValue) {
            $.ajax({
                url: '/ProjectManage/Project/GetFormJson?keyValue=' + keyValue,
                type: 'GET',
                dataType: 'JSON',
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form2").formSerialize(data);
                    $("#F_SampleReturnDate").val(data.F_SampleReturnDate == null ? null : data.F_SampleReturnDate.slice(0, 10));
                    $("#F_FactSendSampleDate").val(data.F_FactSendSampleDate == null ? null : data.F_FactSendSampleDate.slice(0, 10));
                    $("#F_OrderItemDate").val(data.F_OrderItemDate == null ? null : data.F_OrderItemDate.slice(0, 10));
                    $("#F_PublishDate").val(data.F_PublishDate == null ? null : data.F_PublishDate.slice(0, 10));
                    $("#F_PlanSendSampleDate").val(data.F_PlanSendSampleDate == null ? null : data.F_PlanSendSampleDate.slice(0, 10));
                     $("#F_SampleFinishDate").val(data.F_SampleFinishDate==null?null:data.F_SampleFinishDate.slice(0, 10));
                    $("#F_FactFinishDate").val(data.F_FactFinishDate == null ? null : data.F_FactFinishDate.slice(0, 10));
                }
            });
        }
        if (roleType == 0) {
            $("#form2").find('input,file,select,textarea').each(function (r) {
                $(this).attr("readonly", "readonly");
            });
        } else {
            $("#form1").find('input,file,select,textarea').each(function (r) {
                if ($(this).attr('type') != "radio") {
                    $(this).attr("readonly", "readonly");
                } else {  $(this).attr("disabled", "disabled");}
            });
        }
    });
    function initSelect() {
        $.ajax({
            url: "/ProjectManage/Project/GetProjectEngineerList",
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.length > 1) {
                    var str = '';
                    for (var i = 0; i < data.length; i++) {
                        str += "<option value='" + data[i].id + "'>" + data[i].text + "</option>";
                    }
                    $("#F_ProjectEngineer").html(str);
                } else if (data.length == 1) {
                    $("#F_ProjectEngineer").html("<option value='" + data[0].id + "'>" + data[0].text + "</option>");
                }
            },
            error: function () { }
        });
        $.ajax({
            url: "/PurchaseManage/Apply/GetTypeJson",
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.length > 1) {
                    var str = '';
                    for (var i = 0; i < data.length; i++) {
                        str += "<option value='" + data[i].id + "'>" + data[i].text + "</option>";
                    }
                    $("#F_TypeID").html(str);
                } else if (data.length == 1) {
                    $("#F_TypeID").html("<option value='" + data[0].id + "'>" + data[0].text + "</option>");
                }
            },
            error: function () { }
        });
        $.ajax({
            url: "/TemplateManage/Template/GetRATIFY_MANJson",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var str = '<option value="">==请选择==</option>';
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i].text + "'>" + data[i].text + "</option>";
                }
                $("#F_Workshop").html(str);
            },
            error: function () { }
        });
    }
    function initDate() {
        laydate.render({
            elem: '#F_OrderItemDate',
            trigger: 'click'
        });
        laydate.render({
            elem: '#F_PlanSendSampleDate',
            trigger: 'click'
        });
        laydate.render({
            elem: '#F_SampleReturnDate',
            trigger: 'click'
        });
        laydate.render({
            elem: '#F_FactSendSampleDate',
            trigger: 'click'
        });
        laydate.render({
            elem: '#F_PublishDate',
            trigger: 'click'
        });
        laydate.render({
            elem: '#F_SampleFinishDate',
            trigger: 'click'
        });
        laydate.render({
            elem: '#F_FactFinishDate',
            trigger: 'click'
        });
    }
    function checkRole() {
        $.ajax({
            url:'/ProjectManage/Project/CheckRole',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                roleType = data;
            }
        });
    }
    function submitForm() {
        if (roleType == 0) {
            $.submitForm({
                url: "/ProjectManage/Project/SubmitForm?keyValue=" + keyValue,
                param: $("#form1").formSerialize(),
                success: function () {
                    $.currentWindow().$("#gridList").resetSelection();
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            });
        } else {
            $.submitForm({
            url: "/ProjectManage/Project/SubmitBuyerForm?keyValue=" + keyValue,
            param: $("#form2").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
        }
        
    }
</script>

<fieldset>
    <legend>项目工程师</legend>
    <form name="myForm" id="form1">
        <table class="form">
            <tr>
                <th class="formTitle">项目工程师</th>
                <td class="formValue">
                    <input id="F_Id" name="F_Id" type="hidden" />
                    <select id="F_ProjectEngineer" name="F_ProjectEngineer" class="form-control" style="width: 100%;"></select>
                </td>
                <th class="formTitle">客户</th>
                <td class="formValue">
                    <input id="F_Customer" name="F_Customer" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">型号</th>
                <td class="formValue">
                    <input id="F_Model" name="F_Model" type="text" class="form-control" />
                </td>
                <th class="formTitle">名称规格</th>
                <td class="formValue">
                    <input id="F_Spc" name="F_Spc" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">类型</th>
                <td class="formValue">
                    <select id="F_TypeID" name="F_TypeID" class="form-control" style="width: 100%;"></select>
                </td>
                <th class="formTitle">样板数量</th>
                <td class="formValue">
                    <input id="F_SampleQty" name="F_SampleQty" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">订单号</th>
                <td class="formValue">
                    <input id="F_OrderNo" name="F_OrderNo" type="text" class="form-control" />
                </td>
                <th class="formTitle">立项单</th>
                <td class="formValue">
                    <input id="F_OrderItem" name="F_OrderItem" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">立项时间</th>
                <td class="formValue">
                    <input id="F_OrderItemDate" name="F_OrderItemDate" type="text" class="form-control" />
                </td>
                <th class="formTitle">计划寄样时间</th>
                <td class="formValue">
                    <input id="F_PlanSendSampleDate" name="F_PlanSendSampleDate" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">样板回厂时间</th>
                <td class="formValue">
                    <input id="F_SampleReturnDate" name="F_SampleReturnDate" type="text" class="form-control" />
                </td>
                <th class="formTitle">自制/外协</th>
                <td class="formValue">
                    <div class="radio-inline">
                        <label class="radio"><input id="F_Choose" name="F_Choose" type="radio" value="1" checked="checked">自制</label>
                    </div>
                    <div class="radio-inline">
                        <label class="radio"><input id="F_Choose" name="F_Choose" type="radio" value="2">外协</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">备注</th>
                <td class="formValue" colspan="3">
                    <input id="F_Remark" name="F_Remark" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">实际寄样时间</th>
                <td class="formValue">
                    <input id="F_FactSendSampleDate" name="F_FactSendSampleDate" type="text" class="form-control" />
                </td>
                <th class="formTitle">样板准时</th>
                <td class="formValue">
                    <div class="radio-inline">
                        <label class="radio"><input id="F_SampleOnTime" name="F_SampleOnTime" type="radio" value="T" checked="checked">是</label>
                    </div>
                    <div class="radio-inline">
                        <label class="radio"><input id="F_SampleOnTime" name="F_SampleOnTime" type="radio" value="F">否</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">是否批准</th>
                <td class="formValue">
                    <div class="radio-inline">
                        <label class="radio"><input id="F_IsAudit" name="F_IsAudit" type="radio" value="T" checked="checked">是</label>
                    </div>
                    <div class="radio-inline">
                        <label class="radio"><input id="F_IsAudit" name="F_IsAudit" type="radio" value="F">否</label>
                    </div>
                </td>
                <th class="formTitle">样板准确率</th>
                <td class="formValue">
                    <input id="F_AccuracyRate" name="F_AccuracyRate" type="text" class="form-control" style="width:100px;display: inline-block;" />%
                </td>
            </tr>
            <tr>
                <th class="formTitle">产品发布时间</th>
                <td class="formValue">
                    <input id="F_PublishDate" name="F_PublishDate" type="text" class="form-control" />
                </td>
                <th class="formTitle">图纸/包装/erp资料</th>
                <td class="formValue">
                    <input id="F_Annex" name="F_Annex" type="file" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">签板</th>
                <td class="formValue">
                    <select id="F_SignSample" name="F_SignSample" class="form-control" style="width: 100%;">
                        <option value="T" selected="selected">有</option>
                        <option value="F">无</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<fieldset>
    <legend id="label">采购员</legend>
    <form name="myForm" id="form2">
        <table class="form">
            <tr id="panel1">
                <th class="formTitle">采购员</th>
                <td class="formValue">
                    <input id="F_Buyer" name="F_Buyer" type="text" class="form-control" />
                </td>
                <th class="formTitle">供应商</th>
                <td class="formValue">
                    <input id="F_Supplier" name="F_Supplier" type="text" class="form-control" />
                </td>
            </tr>
            <tr id="panel2">
                <th class="formTitle">工程文员</th>
                <td class="formValue">
                    <input id="F_Clerk" name="F_Clerk" type="text" class="form-control" />
                </td>
                <th class="formTitle">车间</th>
                <td class="formValue">
                    <input id="F_Workshop" name="F_Workshop" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">样板完成时间</th>
                <td class="formValue">
                    <input id="F_SampleFinishDate" name="F_SampleFinishDate" type="text" class="form-control" />
                </td>
                <th class="formTitle">实际完成数量</th>
                <td class="formValue">
                    <input id="F_FactFinishNum" name="F_FactFinishNum" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">实际完成时间</th>
                <td class="formValue">
                    <input id="F_FactFinishDate" name="F_FactFinishDate" type="text" class="form-control" />
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th class="formTitle">备注</th>
                <td class="formValue" colspan="3">
                    <input id="F_BuyRemark" name="F_BuyRemark" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>

