
@{
    ViewBag.Title = "CancelOneForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");

    $(function () {
        $("#ID").val(keyValue);
    });

    function submitForm() {
        if ($("#CancelRea").val()=="") {
            $.modelMsg("取消原因不能为空", "error");
            return false;
        }
        var form = new FormData(document.getElementById("form1"));
        if ($('[name=__RequestVerificationToken]').length > 0) {
            form.append("__RequestVerificationToken", $('[name=__RequestVerificationToken]').val());
        }
        $.ajax({
            url: "/RoomManage/RoomManage/CancelMeetOne?keyValue=" + keyValue,
            type: "post",
            data: form,
            dataType: "json",
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                var icon = "";
                if (data.state == "success") {
                    icon = "fa-check-circle";
                    top.layer.msg(data.message, { icon: icon, time: 4000, shift: 5 });
                    top.$(".layui-layer-msg").find('i.' + icon).parents('.layui-layer-msg').addClass('layui-layer-msg-' + data.state);
                } else {
                    top.layer.msg(data.message);
                }
                $.currentWindow().$("#gridList").trigger("reloadGrid");
                var index = top.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                top.layer.close(index);//关闭弹框

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.loading(false);
                $.modalMsg(errorThrown, "error");
            }
        });
        //$.submitForm({
        //    url: "/RoomManage/RoomManage/CancelMeetOne?keyValue=" + keyValue,
        //    param: $("#form1").formSerialize(),
        //    success: function () {
        //        $.currentWindow().$("#gridList").resetSelection();
        //        $.currentWindow().$("#gridList").trigger("reloadGrid");
        //    }
        //})
    }
</script>
<form name="myForm" id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    取消原因<input type="hidden" id="ID" name="ID" />
                </th>
                <td class="formValue" colspan="3">
                    <textarea class="form-control" id="CancelRea" name="CancelRea"></textarea>
                </td>
            </tr>

        </table>
    </div>
</form>

